html
    head
        title Calendar App
        style
            include ../../CSS/list-of-calendars.css
        //script(src = "../../JS/list-of-calendars.js")

div(id = 'list-of-calendars' class='list-of-calendars')
