html
    head
        title Calendar App
        style
            include ../../CSS/nav.css
        //script(src = "../../JS/month.js")
div#header
    div(class="row1")
        p HEllo 
    div(class="row2")
        p pable 
        p jasdsd 
        p fsdf
        a(href="../pages/index.pug") Home 
        a(href="../pages/month.pug") Calendar 