html
    head
        title Calendar App
        style
            include ../../CSS/nav.css
        //script(src = "../../JS/month.js")
div#header
    p HEllo 
    p pable 
    p jasdsd 
    p fsdf
    a(href="../pages/index.pug") Home 