:root {
    --font: Roboto;

    --event-color: rgb(211, 211, 70);
    --event-popup-position: fixed;
    --event-popup-top: 100;
    --event-popup-left: 766;
    --event-popup-height: 500px;
    --event-popup-width: 368px;
    --event-popup-bg-clr: rgb(39, 36, 36);
    --event-popup-txt-clr: white;
    --event-popup-elem-border: 1px solid rgb(74, 74, 74);
    --elem-outline: rgb(0, 149, 255) solid 1px;

    --event-popup-arrow: 20px solid transparent;
    --event-popup-arrow-side: 20px solid rgb(255, 255, 255); 
    --event-popup-arrow-position: fixed;
    --event-popup-arrow-top: 100;
    --event-popup-arrow-left: 766;
    --event-popup-arrow-height: 25px;
}

@font-face {
    font-family: Hezaedrus-Regular;
    src: url(Hezaedrus-Regular.ttf);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    color: white;
    height: auto;
    background-color: rgb(21, 21, 21);


    margin-inline: 10px;
    border-inline: 1px solid grey;
}

.grid-container>p{
    padding: 0;
    margin: 0;
    margin-top: 11px;
    margin-left: 5px;
}

.temp-container{
    grid-column: 2;
    grid-row: 2;
    
    display: grid;
    grid-template-rows: 30px auto;

}

#main {
    margin: 0;
    background-color: rgb(29, 29, 29);

    font-family: var(--font);
    user-select: none;
    height: 100%;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 30px auto 40px;
}

.grid-col-span-3{
    grid-column: span 3;
}

.grid-col-span-2{
    grid-column: span 2;
}

.calendar-container {
    grid-auto-rows: minmax(100px, auto);
}

.page-name{
    grid-row: 1;
    grid-column: 1;
    padding: 0;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;

    display: flex;
    justify-content: center;
    align-items: center;

}
.page-name>p{
    margin: 0;
    color: white;
}

.header-container{
    grid-column: 2;
    border-bottom: 1px solid grey;
    padding-inline: 10px;
}

.list-of-calendars-container{
    grid-column: 1;
    grid-row: 2;
}

.month-page-footer{
    grid-row: 3;
    grid-column: span 2;
}

/*drop target*/
.month-grid-element {
    border: none;
    border-top: 1px solid rgb(96, 96, 96);
    background-color: rgb(21, 21, 21);
    padding: 0;
}
/*month-grid-element when being dragged over*/
.drag-over{
    border: 1px solid rgb(183, 63, 63);
}

.weekend-element {
    background-color: rgb(38, 38, 38);
}

.current-week {
    border-top: 3px solid rgb(101, 0, 0);
    color: white;
}

.not-current-month p {
    color: rgb(159, 159, 159);
}

.current-date {
    border-top: 3px solid red;
}

.current-date p {
    color: red;
}

.month-grid-element p {
    user-select: none;
    margin: 5px;
}

.header-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-container>div{
}

.header-container>a{
    color: white;
    text-decoration: none;
    padding: 0;
}

.header-container>a:link{
    text-decoration: none;
}

.header-container>a:visited{
    text-decoration: none;
}

.header-container>a:hover{
    color: rgb(207, 201, 201);
}

.header-container>a:active{
    text-decoration: none;
}


.flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.flex p {
    margin: 0;
    color: white;
    font-size: 20px;
    padding: 0;
    padding-top: 2px;
    text-align: center;
}


.flex * {
    padding-left: 10px;
    padding-right: 10px;
}

#month-id {
    width: 150px;
    text-align: center;
}

/*event*/
.event {
    color: var(--event-color);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 5px;
    -webkit-user-drag: true;
}


.event * {
    pointer-events: none;
    margin: 0;
}
    
.event:nth-child(2) {
    margin-left: auto;
}
    
.event-time {
    width: max-content;
}
    
.event-name {}
    
.circle {
    /* (A) SAME WIDTH & HEIGHT - SQUARE */
    width: 7px;
    height: 7px;
    
    /* (B) 50% RADIUS = CIRCLE */
    border-radius: 50%;
    
    /* (C) BACKGROUND COLOR */
    background: #153f84;
    margin: 0;
}


.event-selected {
    background-color: var(--event-color);
    
}

.event-selected>p{
    color: white;
}

.event-selected>div{
    background-color: rgb(21, 21, 21);
}

.arrow {
    padding-top: 7px;
    padding-bottom: 7px;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-right {}

.arrow-left {}

/*event popup*/
.event-popup-hidden{
    display: none !important
}

.event-popup{
    position: var(--event-popup-position);
    top: var(--event-popup-top);
    left: var(--event-popup-left);
    border: 1px solid rgb(74, 74, 74);
    border-radius: 5px;
    width: var(--event-popup-width);
    height: var(--event-popup-height);
    background-color: var(--event-popup-bg-clr);
    color: var(--event-popup-txt-clr);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.event-popup *{
    background-color: var(--event-popup-bg-clr);
    color: var(--event-popup-txt-clr);
    border-radius: 2px;
    border: var(--event-popup-elem-border);   
}

.event-popup *:focus{
    outline: var(--elem-outline);
}


.event-popup>div{
    margin-inline: 20px;
    border: none;
}

.event-popup>div:nth-child(3){
    margin-inline: 0;
    border-top: var(--event-popup-elem-border);
}



.event-popup>div>label{
    grid-column: 1;
    text-align: right;
    padding-right: 5px;
}

/*event-popup-arrow*/
.event-popup-arrow{
    position: var(--event-popup-arrow-position);
    top: var(--event-popup-arrow-top);
    left: var(--event-popup-arrow-left);
    height: var(--event-popup-arrow-height);
}

.event-popup-arrow-left{
    width: 0; 
    height: 0; 
    border-top: var(--event-popup-arrow);
    border-bottom: var(--event-popup-arrow); 
    
    border-right:var(--event-popup-arrow-side); 
}
.event-popup-arrow-right{
    width: 0; 
    height: 0; 
    border-top: var(--event-popup-arrow);
    border-bottom: var(--event-popup-arrow);
    
    border-left: var(--event-popup-arrow-side);
}

/*top div*/
.name-of-event{
    margin-top: 20px;

    display: grid;
    grid-template-columns: auto 40px;
    grid-template-rows: 40px 30px;
}
.name-of-event *{
    margin: 2px;
}

#event-name-input{
    padding: 2px;
    font-size: 17px;
}
#event-location-input{
    grid-column: span 2;
}

.event-popup-circle{
    width: 7px;
    height: 7px;
    background-color: #153f84;
    border-radius: 50%;
}

.circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-container:hover{
    cursor: pointer;
}

/*middle div*/
.event-details{

    /*grid*/
    display: grid;
    grid-template-columns: 35% 39% 21%;
    gap: 3px;
    row-gap: 13px;
}


.event-details>label{
    grid-column: 1;
    text-align: right;
    padding-right: 5px;
}

.negative-bottom-margin{
    margin-bottom: -9px;
}



.event-details>select{
    border-radius: 3px;
    background-color: rgb(51, 48, 48);
    height: 22px;
}

.event-details>input{
    height: 22px;
}

.event-details>input[type="time"]{
    color: white;
    font-family: var(--font);
    padding-left: 2px;
}

.event-details>input[type="time"]::-webkit-calendar-picker-indicator{
    background: none;
    display: none;
}


.event-details>a{
    border: none;
    color:blueviolet;
}

    .event-details>a:link{
        text-decoration: none;
    }
    .event-details>a:visited{
        text-decoration: none;
    }
    .event-details>a:hover{
        text-decoration: none;
    }
    .event-details>a:active{
        text-decoration: none;
    }

.event-details>label{
    border: none;
}

#note{
    font-family: var(--font);
    resize: none;
}


.all-day-selected{
    display: none;
}

/*bottom div*/
.cancel-ok{
    padding: 15px;
    font-family: var(--font);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.cancel-ok>button{
    border: none;
    font-size: 17px;
    border-radius: 0;
}

.cancel-ok>button:focus{
    outline: 0;
}

.cancel-ok>button:hover{
    cursor: pointer;
}

.cancel-ok>button:nth-child(1){
    color: rgb(222, 24, 24);
}

.cancel-ok>button:nth-child(2){
    color: rgb(101, 142, 255);
    margin-left: auto;
    border-right: 1px rgb(65, 65, 65) solid;
}

.cancel-ok>button:nth-child(3){
    color: rgb(101, 142, 255);
    font-weight: bold;
}


body {
    background-color: rgb(37, 37, 37);
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
