:root {
    --event-color: rgb(211, 211, 70);
    --event-popup-position: fixed;
    --event-popup-top: 100;
    --event-popup-left: 766;
    --event-popup-height: 500px;
    --event-popup-width: 368px;
    --event-popup-bg-clr: rgb(39, 36, 36);
    --event-popup-txt-clr: white;
    --event-popup-elem-border: 1px solid rgb(74, 74, 74);
    --elem-outline: rgb(0, 149, 255) solid 1px;

    --event-popup-arrow: 20px solid transparent;
    --event-popup-arrow-side: 20px solid rgb(255, 255, 255); 
    --event-popup-arrow-position: fixed;
    --event-popup-arrow-top: 100;
    --event-popup-arrow-left: 766;
    --event-popup-arrow-height: 25px;
}

@font-face {
    font-family: Hezaedrus-Regular;
    src: url(Hezaedrus-Regular.ttf);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    color: white;
    height: auto;
    background-color: rgb(21, 21, 21);
}

#main {
    font-family: Roboto;
    user-select: none;
    height: 100%;
    display: grid;
    grid-template-columns: 200px repeat(3, minmax(300px, 1fr));
    grid-template-rows: 30px 40px auto;
}

.calendar-container {
    grid-auto-rows: minmax(100px, auto);
}

.container:nth-child(1) {
    grid-row: span 3;
}

.grid-col-span-3 {
    grid-column: span 3;
}

/*drop target*/
.month-grid-element {
    border: none;
    border-top: 1px solid rgb(96, 96, 96);
    background-color: rgb(21, 21, 21);
    padding: 0;
}
/*month-grid-element when being dragged over*/
.drag-over{
    border: 1px solid rgb(183, 63, 63);
}

.weekend-element {
    background-color: rgb(38, 38, 38);
}

.current-week {
    border-top: 3px solid rgb(101, 0, 0);
    color: white;
}



.not-current-month p {
    color: rgb(159, 159, 159);
}

.current-date {
    border-top: 3px solid red;
}

.current-date p {
    color: red;
}

.month-grid-element p {
    user-select: none;
    margin: 5px;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.flex p {
    margin: 0;
    color: white;
    font-size: 20px;
    padding: 0;
    text-align: center;
}

.flex * {
    padding-left: 10px;
    padding-right: 10px;
}

#month-id {
    width: 150px;
    text-align: center;
}

/*event*/
.event {
    color: var(--event-color);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 5px;
    -webkit-user-drag: true;
}


.event * {
    pointer-events: none;
    margin: 0;
}
    
.event:nth-child(2) {
    margin-left: auto;
}
    
.event-time {
    width: max-content;
}
    
.event-name {}
    
.circle {
    /* (A) SAME WIDTH & HEIGHT - SQUARE */
    width: 7px;
    height: 7px;
    
    /* (B) 50% RADIUS = CIRCLE */
    border-radius: 50%;
    
    /* (C) BACKGROUND COLOR */
    background: #153f84;
    margin: 0;
}


.event-selected {
    background-color: var(--event-color);
    
}

.event-selected>p{
    color: white;
}

.event-selected>div{
    background-color: rgb(21, 21, 21);
}

.arrow {
    padding-top: 7px;
    padding-bottom: 7px;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-right {}

.arrow-left {}

/*event popup*/
.event-popup-hidden{
    /*display: none;*/
}

.event-popup{
    position: var(--event-popup-position);
    top: var(--event-popup-top);
    left: var(--event-popup-left);
    border: 1px solid white;
    width: var(--event-popup-width);
    height: var(--event-popup-height);
    background-color: var(--event-popup-bg-clr);
    color: var(--event-popup-txt-clr);
}

.event-popup *{
    background-color: var(--event-popup-bg-clr);
    color: var(--event-popup-txt-clr);
    border-radius: 3px;
    border: var(--event-popup-elem-border);
    
}

.event-popup *:focus{
    outline: var(--elem-outline);
}

.event-popup>div{
    border: 1px dashed red;
    margin: 20px;
}

.event-popup>div>label{
    grid-column: 1;
    text-align: right;
    padding-right: 5px;
}

/*event-popup-arrow*/
.event-popup-arrow{
    position: var(--event-popup-arrow-position);
    top: var(--event-popup-arrow-top);
    left: var(--event-popup-arrow-left);
    height: var(--event-popup-arrow-height);
}

.event-popup-arrow-left{
    width: 0; 
    height: 0; 
    border-top: var(--event-popup-arrow);
    border-bottom: var(--event-popup-arrow); 
    
    border-right:var(--event-popup-arrow-side); 
}
.event-popup-arrow-right{
    width: 0; 
    height: 0; 
    border-top: var(--event-popup-arrow);
    border-bottom: var(--event-popup-arrow);
    
    border-left: var(--event-popup-arrow-side);
}

/*top div*/
.name-of-event *{
    display: inline-block;
}

#event-name-input{
    width: 90%;
}

.event-popup-circle{
    width: 7px;
    height: 7px;
    background-color: #153f84;
    border-radius: 50%;
}

.circle-container{
    padding: 5px;
}

/*middle div*/
.event-details{
    /*grid*/
    display: grid;
    grid-template-columns: 35% 30% 15% 15%;
    gap: 3px;
    row-gap: 10px;
}
.grid-gap-3px{
    row-gap: 3px;
}

/*bottom div*/
.cancel-ok{

}

body {
    background-color: rgb(37, 37, 37);
    overflow-x: hidden;
}