html
    head
        title Calendar App
        style
            include ../../CSS/index.css
body
    div#main
        div(class="container")
            include ../partials/nav
        div(class="container")
