html
    head
        title Calendar App
        style
            //include ../../CSS/home.css
body
    //include ../partials/header

    div#main
        h1 Welcome to the Home Page!
        br
        a(href="month.pug") Month