html
    head
        title Calendar App
        style
            include ../../CSS/month.css
        script(src = "../../JS/calendar.js")
body(onload = "init()")
    //include ../partials/header

    div#main 
        div(class = "page-name")
            p Calendar
        div(class="container list-of-calendars-container")
            include ../partials/list-of-calendars
        div(class="container header-container")
            a(href="../pages/index.pug") Home 
            div(class="flex")
                div(class = "arrow arrow-left flex" onclick="showPrevMonth()")
                    img(src="../../data/left-arrow.png")
                p(id = "month-id") 
                div(class = "arrow arrow-right flex" onclick="showNextMonth()")
                    img(src="../../data/right-arrow.png")
            a(href="../pages/tasks.pug") Tasks
        div(class="container temp-container")
            div(class = "grid-container")
                p Sun
                p Mon
                p Tue 
                p Wed 
                p Thu
                p Fri
                p Sat
        div(class="event-popup-container" id="event-popup-container")
            include event-popup
        div(class="month-page-footer")
            include ../partials/calendar-footer